<div class="col-lg-12 mrg">
	<div class="ui large secondary menu">
		<div class="item"><a class="ui primary button" href="{% url 'messages_compose' %}">Написать</a></div>
		<a href="{% url 'messages_inbox' as inbox_url%}{{ inbox_url }}" class="active item">
			Входящие
		</a>
		<a href="{% url 'messages_outbox' as outbox_url%}{{ outbox_url }}" class="item">
			Отправленные
		</a>
		<a href="{% url 'messages_favorite' as favorite_url%}{{ favorite_url }}" class="item">
			Избранное
		</a>
		<a href="{% url 'messages_draft' as draft_url%}{{ draft_url }}" class="item">
			Черновики
		</a>
		<a href="{% url 'messages_trash' as trash_url%}{{ trash_url }}" class="item">
			Корзина
		</a>
	</div>
</div>
