{% extends "basis.html" %}
<!doctype html>

<html>
<head>
    <meta charset="utf8">
    <title>{% block title %}Сообщить о проблеме{% endblock %}</title>
</head>
<body>
{% block content %}

<form action="/tickets/add_ticket/" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table>
{{ticket_form.as_table}}

{%for ff in file_form%}
{{ff.as_table}}
{%endfor%}

<tr><td></td></tr>

<tr><td><td><input type="submit" name="submit" value="Сообщить о проблеме"></td></td></tr>
</table>
</form>
{% endblock %}
</body>
</html>
